<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Flat Login Form</title>


    <link rel='stylesheet prefetch' href='https://daneden.github.io/animate.css/animate.min.css'>
    <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,400italic,700italic,700'>
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />
    <script src="~/Content/assets/js/index.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <!-- dangki -->
    @*<link href="~/Content/css/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/form/main.css" rel="stylesheet" />
    <link href="~/Content/css/form/util.css" rel="stylesheet" />*@
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <!-- dangki -->
    @*<script src="~/Scripts/table/jquery.min.js"></script>
    <script src="~/Scripts/form/main.js"></script>*@
</body>
</html>
