@using (Html.BeginForm("Index", "ThuVien"))
{
    <div style="display:inline-block">
        <div style="width: 75%; display:inline-block">
            <input type="text" style="" name="SearchString" placeholder="nhap ten sach" class="form-control" />
        </div>
        <div style="width: 20%; display:inline-block">
            <button type="submit" class="btn btn-success">Search</button>
        </div>
    </div>
}
